.App {
	text-align: center;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-evenly;
}

#add-button {
	position: absolute;
	top: 0;
	right: 0;
}

#remove-button {
	position: absolute;
	top: 0;
	right: 0;
}

#left-movie-container {
	border: 2px solid black;
	width: 400px;
}

#right-movie-container {
	border: 2px solid black;
	width: 400px;
}

.movie {
	position: relative;
	background-color: #64c86420;
}

#movie-title {
	font-weight: 500;
	font-size: large;
}

#right-movie-container #movie {
	background-color: #c8646420;
}
